html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldSET,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0;text-decoration:none}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}*,*:before,*:after{box-sizing:border-box;position:relative;}
* {margin:0;padding:0;box-sizing:border-box;}
body, html {width:100%;height:100%; font-size: 16px;}

#stretchWrapper {
  overflow: hidden;
}

#spetsad-canvas {
  width: 100%;
  height: 100%;
  cursor: none;
}

#game-ui {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  top: 0px;
  overflow:hidden;
  pointer-events: none;
}
#game-ui:after{}

.users {
  font: 0.8rem Arial;
  letter-spacing: 4px;
  position: absolute
  top: 0px;
  left: 0px;
  right: 0px;
  height: 30%;
  color: #fff;
  overflow:hidden;
  padding: 5px;
}

#coms {
  width: 100%;
  height:30%;
  overflow:hidden;
  position: absolute;
  left: 0px;
  bottom: 0px;
  -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, color-stop(0.00,  rgba(0,0,0,0)),color-stop(0.35,  rgba(0,0,0,1)));
}
#coms form {
  position:absolute;
  bottom: 0px;
  left: 0;
  right: 0;
}
#messages {
  position: absolute;
  bottom:50px;
  left:0;
  right:0;
  height:auto;
}
#messages #outsidediv {
  padding: 6px 15px;
  width: calc(100% - 30px);
  margin: 5px auto;
  border-radius: 7px;
  background: rgba(0,0,0,0.2);
  font: 1.2rem Arial;
}
#messages .name {
  color: #111;
  font-weight: bold;
}
#messages .message {
  color: #efefef;
}

ul#lobbies {}
ul#lobbies li.outsidediv {
}
#lobbies li.outsidediv .lobby-element {
  width: 100%;
  height: 100%;
  color: #111;
  margin: 5px auto;
  font-weight: bold;
  font: 1.2rem Arial;
  background: rgba(0,0,0,0.2);
  padding: 6px 15px;
}#lobbies li.outsidediv .lobby-element:hover {
  background: rgba(0,0,0,0.4);
  cursor:pointer;
}

.big-text {
  font-family: Arial;
  font-size: 2rem;
  padding-bottom: 15px;
}
#game-lobby-leave-button {
  position:absolute;
  left:0;
  top:-40px;
  height: 30px;
  font-family: Arial;
  background: #03a9f4;
  line-height: 30px;
  padding-left: 10px;
  padding-right: 10px;
  display:inline-block;
  width:auto;
  border-right-color: #03a9f4;
  cursor:pointer;
}#game-lobby-leave-button:hover {
  background: #34bcf9;
  border-right-color: #34bcf9;
}
#game-lobby-leave-button:before {
  position:absolute;
  display:block;
  content: '';
  left:-14px;
  top:0;
  width: 0px;
  height: 0px;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid pink;
  border-right-color: inherit;
}
.team-name {
  line-height: 40px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: arial;
  /* border: 1px solid #333; */
  border-radius: 3px;
  padding-left: 15px;
}
.team-name-blue {
  background: #2369db;
  color: white;
}
.team-name-red {
  background: #e82e2e;
  color: white;
}
ul.lobby-team {
  padding-bottom: 15px;
}
ul.lobby-team li.outsidediv {
  margin: 5px
}
.lobby-team li.outsidediv .lobby-element {
  width: calc(100% - 35px);
  height: 30px;
  font: 1.2rem Arial;
  line-height: 30px;
  color: #111;
  margin-left: 35px;
  font-weight: 400;
  background: rgba(0,0,0,0.2);
  padding: 0 15px;
  border-radius: 3px;
}.lobby-team li.outsidediv .lobby-element:hover {
  background: rgba(0,0,0,0.4);
  cursor: pointer;
}.lobby-team li.outsidediv .lobby-element-host {
  position:absolute;
  left: 0px;
  top: 0;
  width: 30px;
  height: 30px;
  background: rgba(0,0,0,0.2);
  border-radius: 3px;
  text-align:center;
  line-height: 30px;
}
.lobby-team li.outsidediv .lobby-element.lobby-element-taken {
  background: rgba(0,0,0,0.4);

}


.ui-overlay {
  padding: 0 40px;
  padding-top: 8vh;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  background: rgba(255,255,255,0.95);
  transition: opacity 0.3s 0.15s ease-in-out;
  overflow-y: auto;
}.ui-overlay.animate-disperse {
  opacity: 0;
  pointer-events: none;
}

.ui-overlay .question {
  font-size: 2rem;
  color: 222;
  margin-bottom: 10px;
  text-align: center;
}
.ui-overlay label {
  margin-top: 0px;
  transition: margin-top 0.3s ease;
}
.ui-overlay.animate-disperse label {
  margin-top: -300px;
}

.ui-overlay input {
  width: 100%;
  padding-left: 15px;
  background: rgba(0,0,0,.05);
  color: #222;
  border-bottom: 5px solid #333;
}

.ui-overlay-button {
  background: #333;
  color: #efefef;
  padding: 20px 20px;
  font: 2rem Arial;
  text-align: center;
  display:block;
  transition: all 0.3s ease;
  letter-spacing: 3px;
  cursor: pointer;
  margin: 15px auto 0 auto;
}
#name-entry-button {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: 5px;
  background: #03a9f4;
}#name-entry-button:hover {
  background: #34bcf9;
}

.ui-overlay.animate-disperse .ui-overlay-button {
  margin-top: 250%;
}
.ui-overlay-button:hover {
  background: #777;
  color: #333;
}

label {
  display: block;
  width: 100%;
  line-height: 50px;
  font: 13.3333px Arial;
  margin-bottom: 30px;
}

input {
  pointer-events: auto;
  border: 0px;
  outline: 0;
  box-shadow: none;
  color: black;
  width: 100%;
  background: rgba(0,0,0,.05);
  color: #222;
  border-bottom: 5px solid #333;
  height:50px;
  line-height:50px;
  padding: 0 15px;
  font-size: 2rem;
}
input[type="submit"] {
  position:absolute;
  right:0px;
  top:0px;
  max-width:30%;
  cursor:pointer;
}input[type="submit"]:hover {
  background: rgba(0,0,0,.2);
}















@media (max-width: 768px) {
  #stretchWrapper {
    width: 100% !important;
    height: 100% !important;
    position:absolute !important;
    left: 0 !important;
    top: 0 !important;
    bottom: 0 !important;
    right: 0 !important;
  }
}
